* { box-sizing: border-box; }

:root {
    --boardWidth: 150px;
    --totalBoards: 1;
    --packWidth: 130px;
  }

body, h1, h2, h3, h4, ul, li, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #dbd400;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/table-bk.jpg);
}

/* style for title */
#title {
    position: relative;
    display: block;
    height: 90px;
    width: 200px;
    margin: auto;
    text-align: center;
}

h1 {
    position: absolute;
    display: flex;
    width: 160px;
    font-size: 26px;
    font-weight: 300;
    left: 50%;
    top: 50%;
    transform:translate(-50%, 0);
    color: #ffffff;
    margin: auto;
}

#title p {
    position: absolute;
    display: flex;
    font-size: 80px;
    font-weight: 900;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    color: #b80101;

}



/* style for coins */
#fichasbox {
    margin-top: 50px;
    margin-left: 30%;
    width: 120px;
    height: 20px;
    background-image: url(img/coins-total.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    float: left;
}

#cash {
    width: 120px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
}

/* style for infobox */
#infobox {
    margin-top: 20px;
    margin-right: 20%;
    width: 30px;
    height: 30px;
    background-image: url(img/information.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right; 
    position: relative;
}

.infotext {
    display: none;
    border: 1px solid black;
    position: absolute;
    width: 80vw;
    height: 97vh;
    top: -10px;
    overflow: hidden;
    overflow-y: scroll;
    right: 120%;
    background-color: #dddddd;
    color: black;
    padding: 10px 20px;
    z-index: 1
}
.infotext P {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* style for mensagemboard */
#mensagemboard {
    position: relative;
    width: 50%;
    height: 105px;
    margin: auto;
}

#mensagemboard h2 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    width: 220px;
    padding: 10px 0;
    border-radius: 15px;
    color: #dbd400;
    border: 1px solid #dbd400;
}

/* style for pocket and coins*/
#pocket {
    width: 240px;
    left: 10vw;
    bottom: 100px;
    position: relative;
    transform: rotate(45deg);
}

.coins {
    position: absolute;
    width: 60px;
    height: 200px;
    display: inline-block;
    top: -200px;
}

#coins1 {
    left: 0;
}

#coins5 {
    left: 60px;
}

#coins10 {
    left: 120px;
}

#coins50 {
    left: 180px;
}

.coin {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0px;
    width: 50px;
    height: 50px;
}

#coin502 {
    bottom: 10px;
}

#coin503 {
    bottom: 20px;
}


/* style for playcardboard */
#playcardsboard {
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

#playcardsboard div {
    position: absolute;
    top: 50%;
    -ms-transform: translatey(-50%);
    transform: translatey(-50%);
    width: 57px;
    height: 85px;
    border: 0.5px solid #ffffff; 
}

#playcard1 {
    left: 0px;
    background-image: url("img/back-blue.jpg");
}

#playcard2 {
    left: 15px;
    background-image: url("img/back-blue.jpg");
}

#playcard3 {
    left: 30px;
    background-image: url("img/back-blue.jpg");
}


/* style for dealerboard */
.board p {
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}

#dealerboard {
    margin: auto;
    border: 1px solid #ffffff;
    text-align: center;
    border-radius: 15px;
    /* height: 150px; */
    width: var(--boardWidth);
}

#dealerboard p {
    padding: 52px 0;
}

.cardpack {
    position: relative;
    margin: auto;
    margin-top: 10px;
    display: none;
    width: var(--packWidth);
    height: 85px;
}

.score {
    display: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
}


/* style for player board */
#playerboard {
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    height: 135px;
}

#playerContent>p {
    padding: 47px 0;
}

#playerContent, #player1AContent, #player1BContent {
    margin: auto;
    text-align: center;
    position: absolute;
    border: 1px solid #ffffff;
    border-radius: 15px;
    height: 130px;
    left: 50%;
    transform: translatex(-50%);
    width: var(--boardWidth);
    display: block;
}

#playerContent {
    display: block;
}

#player1AContent {
    display: none;
}

#player1BContent {
    display: none;
}

.cardpack div {
    position: absolute;
    height: 85px;
    width: 57.5px;
}

/* Style for controls */
#controlContent {
    display: block;
    width: 100%;
    height: 70px;
}

.control {
    display: block;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 20px;
}

.control button {
    display: inline;
    font-size: 10px;
}

#btn1Asplit {
    display: none;
}

#player1AControl {
    display: none;
}

#player1BControl {
    display: none;
}

.control p {
    padding: 0;
    font-size: 20px;
}

.btncontinue {
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    background-image: url(img/btn-continue.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: inline-block;
}

.btnparar {
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    background-image: url(img/btn-stop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: inline-block;
}

.btnsplit {
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    background-image: url(img/btn-split.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: inline-block;
}

.btndouble {
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    background-image: url(img/btn-double.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: none;
}

.btngiveup {
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
    background-image: url(img/btn-giveup.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: inline-block;
}

.btntxt {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-size: 12px;
}

/*  Style for bet*/
#betboard {
    width: 100%;
    height: 50px;
    text-align: center;
    position: relative;
}

#betboard p {
    width: var(--boardWidth);
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: var(--boardWidth);
}

#bet1A {
    display: block;
}

#bet1B {
    display: none;
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
    #mensagemboard {
        width: 100%;
        margin: auto;
    }
    
    #mensagemboard h2 {
        font-size: 16px;
        width: 180px;
        top: 50%;
        left: calc((100vw - 200px));
    }

    #fichasbox {
        margin: auto;
        margin-top: 10px;
        float: none;
    }

    #infobox {
        margin-top: 10px;
        margin-right: 5px;
    }

    .infotext {
        width: 85vw;
        height: 600px;
        top: -30px;
        right: 120%;
    }

    #pocket {
        left: -120px;
        bottom: 95vh;
        transform: rotate(90deg);
    }
}

@media (min-width: 479px) {
    #fichasbox {
        margin-top: 50px;
        margin-left: 5%;
    }

    #infobox {
        margin-top: 20px;
        margin-right: 10%;
    }

    #mensagemboard {
        margin: auto;
        min-width: 430px;
    }
    
    #mensagemboard h2 {
        font-size: 16px;
        width: 180px;
        top: 50%;
        left: 50%;
    }

    #pocket {
        left: 1vw;
        bottom: 100px;
        transform: rotate(25deg);
    }

}


@media (min-width: 768px) {
    #fichasbox {
        margin-top: 50px;
        margin-left: 15%;
    }

    #pocket {
        left: 1vw;
        bottom: 100px;
        transform: rotate(25deg);
    }
    
}

@media (min-width: 1024px) {
    #pocket {
        left: 10vw;
        bottom: 100px;
        transform: rotate(45deg);
    }
    
}
